.card { 
    background-color: #FFE2F0;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    cursor: pointer;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
    overflow: hidden;
    position: relative;
    transition: 0.8s cubic-bezier(0.02, 0.8, 0.2, 1);
    width: 360px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: scale(1.05,1.05);
}

.card h3 {
    color: #132844;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 0 20px;
}

.card h4 {
    align-self: end;
    color: #132844;
    font-size: 20px;
    font-weight: 400;
    margin: 0 20px 20px 20px;
}

.card p {
    align-self: end;
    color: #132844;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 20px 20px;
    opacity: 0.6;
    text-transform: uppercase;
}