.header {
    padding: 32px 0;
    position: fixed;
    transition: 0.5s cubic-bezier(0.02, 0.8, 0.2, 1);
    width: 100%;
    z-index: 100;
}

.headergroup {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    margin: 0 auto;
    max-width: 1140px;
}

.header a {
    color: #132844;
    font-size: 18px;
    font-weight: 500;
}

.header a:hover {
    color: #54966E;
}

.header button {
    background: #54966E;
    border: none;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 18px;
    outline: none;
    padding: 12px 24px;
    transition: 1s cubic-bezier(0.02, 0.8, 0.2, 1);
}

.header button:hover {
    background: #F4B5D3;
    box-shadow: 0 8px 16px rgba(0,0,0, 0.15);
    transform: translateY(-2px);
}

.headerscrolled {
    backdrop-filter: blur(10px);
    background: rgba(250, 249, 246, 0.4);
    padding: 16px 0;
    -webkit-backdrop-filter: blur(10px);
}

.logo {
    height: 48px;
    padding-right: 128px;
}

@media (max-width: 720px){
    .header {
        padding: 16px 0; 
    }
    .headergroup {
        grid-template-columns: repeat(4, auto);
    }
    .header a:nth-child(4) {
        display: none;
    }
    .logo {
        padding-right: 8px;
    }
}